{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Ajout d'un développeur {% endblock %}
       
{% block contenu %} <h1> Ajout d'un développeur </h1> 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">Ajout réussie</h1>
    {% else %} 
       <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
    {% endif %}     
{% else %}      
    
<div class="panel-body">
  <form  class="form-signin" action="index.php?page=developpeurajout" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" id="id" name="id" value="{{form.dev.idDev}}"/> 
        <label for="inputnom" class="sr-only">Nom:</label>
        <input type="text" id="nom" name="nom" class="form-control" placeholder="Saisir un nom"  required autofocus>
        <label for="inputprenom" class="sr-only">Prénom:</label>
        <input type="text" id="prenom" name="prenom" class="form-control" placeholder="Saisir un prénom"  required autofocus>
        <label for="inputadresse" class="sr-only">Adresse:</label>
        <input type="text" id="adresse" name="adresse" class="form-control" placeholder="Saisir une adresse"  required autofocus>
        <label for="inputtelephone" class="sr-only">Téléphone:</label>
        <input type="text" id="tel" name="tel" class="form-control" placeholder="Saisir un numéro"  required autofocus>
        <label for="inputgrade" class="sr-only">Grade:</label>
        <input type="text" id="grade" name="grade" class="form-control" placeholder="Saisir un grade" required autofocus>
        {#{% for d in form.liste %}
            <option value="{{ d.nom }}">{{ d.prenom }} {{ d.adresse }} {{ d.tel }} {{ d.grade }}</option> 
        {% endfor%}    
    </select>  #}  
    <button class="btn btn-lg btn-primary btn-block" type="submit" name="btDAjouter">Ajouter</button>
  </form>
</div>    
{% endif %}
{% endblock %} 